{% extends "layout.html" %}
{% block body %}
  <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
    <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input type="text" class="form-control border border2" id="title" name="title">
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">Category:</label>
        <input type="text" class="form-control border border2" id="category" name="category">
    </div>
    <div class="mb-3">
        <label for="text" class="form-label">Text:</label>
        <textarea class="form-control border border2" id="text" name="text" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Submit</button>
  </form>
  <form action="{{ url_for('show_entries') }}" method="get">
  <div class="row g-2 mb-3">
  <div class="col-auto">
      <input name="filter" list="categories" placeholder="Category" class="form-control">
      <datalist id="categories">
          {% for entry in entries %}
            <option value="{{ entry.category }}">
          {% endfor %}
      </datalist>
  </div>
  <div class="col-auto">
      <button type="submit" class="btn btn-secondary">Filter</button>
  </div>
  <div class="col-auto">
      <a href="{{ url_for('show_entries') }}" class="btn btn-secondary">Reset Filters</a>
  </div>
  </form>
  {% for entry in entries %}
    <div class="card mb-3">
      <div class="card-body">
        <div class="row align-items-center">
        <div class="col-md-4">
            <h2>{{ entry.title }}</h2>
        </div>
        <div class="col-md-3">
            <h4>{{ entry.category }}</h4>
        </div>
      <div class="col-md-5 text-md-end">
        <form action="/editing" method="post" class="d-inline">
        <input name="id" type="hidden" value="{{ entry.id }}">
        <button type="submit" class="btn btn-dark">Edit</button>
        </form>
        <form action="/delete_entry" method="post" class="d-inline">
        <input name="id" type="hidden" value="{{ entry.id }}">
        <button type="submit" class="btn btn-dark">Delete</button>
        </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            {{ entry.text|safe }}
        </div>
      </div>
      </div>
    </div>
  {% else %}
    <div class="alert alert-secondary">
      <em>Unbelievable.  No entries here so far</em>
    </div>
  {% endfor %}
{% endblock %}
